body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    /* background: #2196F3; */
}

/*--header--*/

h1 {
    font-size: 3.5em;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    font-style: italic;
    margin: 3vw 1vw;
    font-family: 'Josefin Sans', sans-serif;
}

h1 span,
h2 i {
    color: #00ccff;
}

h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 1em;
}

/*--//header--*/

/*-- content --*/

.sub-main-w3 {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.inputform {
    max-width: 600px;
    margin: 0 5vw;
    padding: 3.5vw;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 8px solid #00ccff;
    border-radius: 30px 30px 50px 50px;
}

.form-style-agile {
    margin-bottom: 1.5em;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.sub-main-w3 label {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.sub-main-w3 label i {
    font-size: 15px;
    margin-left: 5px;
    color: #00ccff;
    border-radius: 50%;
    line-height: 1.9;
    text-align: center;
}

.form-style-agile input[type="text"],
.form-style-agile input[type="password"] {
    width: 100%;
    color: #000;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px 15px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #000;
    background: #fff;
}

.sub-main-w3 input[type="submit"] {
    color: #fff;
    background: #00ccff;
    border: none;
    padding: 13px 0;
    margin-top: 30px;
    outline: none;
    width: 36%;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 2px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.49);
}

.sub-main-w3 input[type="submit"]:hover {
    background:#000;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}




@keyframes rippling {
    50% {
        border-left-color: #fff;
    }
    100% {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }
}

/*-- //content --*/

/*-- copyright --*/

.footer {
    margin: 4vw .3vw 2vw;
}

.footer p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.8;
}

.footer p a {
    color: #fff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer p a:hover {
    color: #f7296f;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/*-- //copyright --*/

/*-- bg effect --*/

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-- //bg effect --*/

/*--responsive--*/

@media(max-width:1920px) {
    h1 {
        font-size: 3.5vw;
    }
}

@media(max-width:1024px) {
    h1 {
        font-size: 4.5vw;
    }
}

@media(max-width:800px) {
    h1 {
        font-size: 2.6em;
    }
}

@media(max-width:480px) {
    h1 {
        font-size: 2.3em;
        letter-spacing: 1px;
    }
    .inputform {
        padding: 7.5vw;
    }
    .footer p {
        letter-spacing: 1px;
    }
}

@media(max-width:414px) {
    .form-style-agile input[type="text"],
    .form-style-agile input[type="password"] {
        font-size: 13px;
        padding: 13px 15px;
    }
    .wthree-text ul li:nth-child(1),
    .wthree-text ul li:nth-child(2) {
        float: none;
    }
    .wthree-text ul li:nth-child(2) {
        margin-top: 10px;
    }
    .sub-main-w3 input[type="submit"] {
        width: 56%;
    }
    .wthree-text ul li {
        display: block;
    }
}

@media(max-width:320px) {
    h1 {
        font-size: 1.8em;
        margin: 5vw 1vw;
    }
    .inputform {
        padding: 25px 14px;
    }
}

/*--//responsive--*/