@charset "UTF-8";

body{
    width: 100%;
}
.bread{
	margin-left: 40px;
	font-size: 1.7rem;
	font-weight: bolder;
}
.all{
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 5px;
	background-color: #eef4f9;
	padding: 40px 30px 0px 30px;
}
.header{
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
	border-bottom: 3px solid #184675;
}
.header p{
	font-size: 2.4rem;
	font-weight: bolder;
}
.input{
	width: 50%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 50px;
}
.code{
	color: #184675;
	font-size: 1.9rem;
	padding-bottom: 10px;
}
.join{
	width: 120px;
	margin: auto;
	font-weight: bolder;
	background-color: #33ccff;
	color: #fff;
	margin-top: 20px;
	margin-left: 36%;
}
@media all and (max-width: 1278px){
    body{
        width: 1278px;
    }  
}