*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
body{
	background: linear-gradient(to bottom, #131313 0%,#02101c 100%);
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#bg canvas {
	z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.canvas-box{
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}
.box{
	position: absolute;
	z-index: 10;
	color:#fff;
	font-family: Arial;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.title{
	text-align: center;
	color:#fff;
	font-size: 4.5rem;
	margin-top: 30px;
	font-style: italic;
}
.title label{
    border-bottom: 2px solid #00ccff;
    /*border-top: 2px solid #00ccff;*/
    padding: 12px;
    font-weight: bolder;
    /*border-radius: 10px;*/
}
.main {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.input{
    max-width: 600px;
    margin: 0 5vw;
    background: rgba(10, 10, 10, 0.17);
    padding: 3.5vw;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 8px solid #00ccff;
    border-radius: 30px 30px 50px 50px;
}

.inputform {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.main label {
    font-size: 14px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.main label i {
    font-size: 15px;
    margin-left: 5px;
    color: #00ccff;
    border-radius: 50%;
    line-height: 1.9;
    text-align: center;
}

.inputform input[type="text"],
.inputform input[type="password"] {
    width: 100%;
    color: #000;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    border: 1px solid #000;

    background: #fff;
}

.button{
	font-style: italic;
    color: #fff;
    background: #00ccff;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    outline: none;
    width: 36%;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.49);
}

.button:hover {
	text-decoration: none;
	color: #000;
}

.forget {
    width: 100%;
    padding-bottom: 10px;
    text-align: right;
}

::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}
/*-- //placeholder-color --*/

footer {
	padding-top: 10px;
	margin-top: 20px;
    font-size:1.2em;
    clear: both;
    text-align: center;
    font-family: Arial;
    font-weight: bolder;
    color: #fff
}

/*-- //content --*/
@media all and (max-width: 1278px){
    body{
        width: 1278px;
    }  
}